main{
    display: flex;
    height: 100vh;
    overflow: hidden;
    // box-sizing: border-box;
    // margin-top: -60px;
    div{
        width: 50vw;
        img{
            width: 100%;
        }
    }
    section{
        width: 42vw;
        background-color: #381113;
        font-family: GT Flexa Mono Trial;
        padding: 4vw;
        div{
            height: 100%;
            color: white;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            gap: 30px;
            h1{
                width: 75%; 
                font-size: 112px;
                line-height: 85%;
                letter-spacing: -4.5%;
                font-weight: 700;
            }
            h2{
                font-size: 32px;
                font-weight: 300;
                line-height: 108%;
            }
            p{
                width: 75%; 
                font-size: 32px;
                font-weight: 700;
            }
        }
    }
}