/* =============
    Header
============= */
header{
    // width: 100vw;
    // left: 0px;
    // top: 0px;
    // background-color: #000000;
    // padding: 2%;
    background-color: transparent;
    
    >div {
        // display: grid;
        // grid-template-areas:
        //     ". burger"
        //     ". nav";
        // grid-template-columns: 50% auto;

        #burger-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            grid-area: burger;
            padding: 2%;
            position:absolute;
            z-index: 10000;
            top: 20px;
            right: 20px;

            #burger{
                // position:relative;
                // height: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                svg{
                    height: 100%;
                }
            }
        }

        #nav-container {
            background-color: white;
            grid-area: nav;
            align-items: center;
            display: flex;
            // padding: 4vw;
            height: 100vh;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 50vw;
            
            ul{
                padding: 4vw;
                li{
                    height: 100px;
                    a:link,
                    a:visited {
                        color: #381113;
                        text-decoration: none;
                        font-family: GT Flexa Mono Trial;
                        font-size: 64px;
                        font-weight: 300;
                        transition: 0.5s;

                        &:hover,
                        &:active {
                            color: #381113;
                            font-family: GT Flexa Mono Trial;
                            font-size: 82px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}